<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mozilla.focus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Used by sentry. -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Needed to prompt the user to give permission for camera access -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Needed to prompt the user to give permission to install a downloaded apk -->
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission-sdk-23 android:name="android.permission.USE_FINGERPRINT" /> <!-- Permission needed to publish the app on Samsung AppStore -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".FocusApplication"
        android:allowBackup="false"
        android:appComponentFactory="whateverString"
        android:extractNativeLibs="true"
        android:icon="@drawable/ic_launcher_earzoom2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">
        <activity
            android:name="com.sorizava.asrplayer.ui.main.tutorial.TutorialActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.sorizava.asrplayer.StartActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sorizava.asrplayer.ui.intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.sorizava.asrplayer.ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.sorizava.asrplayer.ui.privacy.PrivacyPolicyActivity"
            android:exported="false" />
        <activity android:name="com.sorizava.asrplayer.ui.signup.Signup2Activity" />
        <activity android:name="com.sorizava.asrplayer.ui.notice.NoticeActivity" /> <!-- 카카오 -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_app_key_for_manifest" />
            </intent-filter>
        </activity> <!-- 페이스북 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"
            tools:replace="android:value" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntentReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.CustomTabActivity"
            android:autoRemoveFromRecents="false"
            android:exported="false"
            android:label="@string/app_name"
            android:persistableMode="persistNever"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.TextActionActivity"
            android:exported="true"
            android:label="@string/text_selection_search_action">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity> <!-- BookmarksActivity title is set dynamically for multilocale support -->
        <activity
            android:name=".activity.BookmarksActivity"
            android:configChanges="locale"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/SettingsTheme" /> <!-- EditBookmarkActivity title is set dynamically for multilocale support -->
        <activity
            android:name=".activity.EditBookmarkActivity"
            android:configChanges="locale"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="kr.co.sorizava.asrplayer.AsrConfigActivity"
            android:configChanges="locale"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="kr.co.sorizava.asrplayer.AsrConnectionSettingActivity"
            android:configChanges="locale"
            android:parentActivityName="kr.co.sorizava.asrplayer.AsrConfigActivity"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="kr.co.sorizava.asrplayer.AsrAuthConnectionSettingActivity"
            android:configChanges="locale"
            android:parentActivityName="kr.co.sorizava.asrplayer.AsrConfigActivity"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="kr.co.sorizava.asrplayer.SubtitleSettingActivity"
            android:configChanges="locale"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".activity.InstallFirefoxActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.EraseShortcutActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".activity.EraseAndOpenShortcutActivity"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".customtabs.CustomTabsService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.support.customtabs.action.CustomTabsService" />
            </intent-filter>
        </service>
        <service
            android:name=".downloads.DownloadService"
            android:exported="false" />
        <service
            android:name=".session.SessionNotificationService"
            android:exported="false" />

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <provider
            android:name=".bookmark.BookmarkProvider"
            android:authorities="org.mozilla.sorizava.focus.bookmark"
            android:exported="false" /> <!-- FCM -->
        <service
            android:name="com.sorizava.asrplayer.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_check" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent_old" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>